#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -100;
}

#main{
	text-align: center;
	color: white;
	font-size: 200px;
	padding-top: 200px;
}